[AzureCloud]
endpoint_gallery = https://gallery.azure.com/
endpoint_active_directory_graph_resource_id = https://graph.windows.net/
endpoint_active_directory_resource_id = https://management.core.windows.net/
endpoint_management = https://management.core.windows.net/
endpoint_sql_management = https://management.core.windows.net:8443/
endpoint_resource_manager = https://management.azure.com/
endpoint_batch_resource_id = https://batch.core.windows.net/
endpoint_active_directory = https://login.microsoftonline.com
suffix_storage_endpoint = core.windows.net
suffix_sql_server_hostname = .database.windows.net
suffix_azure_datalake_analytics_catalog_and_job_endpoint = azuredatalakeanalytics.net
suffix_keyvault_dns = .vault.azure.net
suffix_azure_datalake_store_file_system_endpoint = azuredatalakestore.net
subscription = 45528882-4cdf-44cc-84c2-86b7f89478e1

[AzureChinaCloud]
endpoint_gallery = https://gallery.chinacloudapi.cn/
endpoint_active_directory_graph_resource_id = https://graph.chinacloudapi.cn/
endpoint_active_directory_resource_id = https://management.core.chinacloudapi.cn/
endpoint_management = https://management.core.chinacloudapi.cn/
endpoint_sql_management = https://management.core.chinacloudapi.cn:8443/
endpoint_resource_manager = https://management.chinacloudapi.cn
endpoint_batch_resource_id = https://batch.chinacloudapi.cn/
endpoint_active_directory = https://login.chinacloudapi.cn
suffix_storage_endpoint = core.chinacloudapi.cn
suffix_sql_server_hostname = .database.chinacloudapi.cn
suffix_keyvault_dns = .vault.azure.cn

[AzureUSGovernment]
endpoint_gallery = https://gallery.usgovcloudapi.net/
endpoint_active_directory_graph_resource_id = https://graph.windows.net/
endpoint_active_directory_resource_id = https://management.core.usgovcloudapi.net/
endpoint_management = https://management.core.usgovcloudapi.net/
endpoint_sql_management = https://management.core.usgovcloudapi.net:8443/
endpoint_resource_manager = https://management.usgovcloudapi.net/
endpoint_batch_resource_id = https://batch.core.usgovcloudapi.net/
endpoint_active_directory = https://login.microsoftonline.com
suffix_storage_endpoint = core.usgovcloudapi.net
suffix_sql_server_hostname = .database.usgovcloudapi.net
suffix_keyvault_dns = .vault.usgovcloudapi.net

[AzureGermanCloud]
endpoint_gallery = https://gallery.cloudapi.de/
endpoint_active_directory_graph_resource_id = https://graph.cloudapi.de/
endpoint_active_directory_resource_id = https://management.core.cloudapi.de/
endpoint_management = https://management.core.cloudapi.de/
endpoint_sql_management = https://management.core.cloudapi.de:8443/
endpoint_resource_manager = https://management.microsoftazure.de
endpoint_batch_resource_id = https://batch.cloudapi.de/
endpoint_active_directory = https://login.microsoftonline.de
suffix_storage_endpoint = core.cloudapi.de
suffix_sql_server_hostname = .database.cloudapi.de
suffix_keyvault_dns = .vault.microsoftazure.de

